*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/*---- header ----*/

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    overflow: hidden;
    margin: 0;
    width: 100%;
    background: rebeccapurple;
    padding:15px;
    font-size: 18px;
}

#logo {
    float: left;
    display: inline-block;
    color: white;
}

#menu {
    list-style: none;
    margin: 0;
    margin-right: 15px;
    padding: 0;
    float: right;
}

.menuList {
    display: inline-block;
    color: white;
    margin-right: 15px;
    font-family: museo_sans_500, Arial,Helvetica,sans-serif;
}

/* ---------------Section-----------------*/

section{
    padding: 20px;
    background-image: url(../imagens/fundo-section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.formContainer{
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16;
}

.mbInContainer{
    margin-bottom: 15px;
}
