

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rebeccapurple;
}

/*---- header ----*/

#logo {
    display: inline-block;
    color: white;
}

header {
    width: 100%;
    position: fixed;
    overflow: hidden;
    margin: 0;
    background: rebeccapurple;
    padding:15px;
}

.container {
    max-width: 100%;
}

/* ---------------Section-----------------*/

h2 {
    font-size: 16;
    font-weight: bold;
}

.homeContainer {
    padding: 80px 25px 25px 25px;
    height: 830px;
    max-height: 830px;
    background-image: url(../imagens/homepic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.boxHomeContainer {
    color: rebeccapurple;
    max-width: 350px;
    height: 530px;
    background-color: #ffffffbb;
    padding: 30px;
    float: right;
}

.mbInContainer {
    margin-bottom: 15px;
}

/* ---------------- footer -----------------*/

footer {
    padding: 35px;
    text-align: left;
    display: inline-block;
}

.picture {
    width: 20%;
    margin: 25px 0 0 0;
}

.formContainer {
    margin: 15px;
    max-width: 20%;
    background-color: #ffffffbb;
    padding: 25px;
    float: right;
}

.formText {
    color: #9630af;
    padding-bottom: 15px;
    text-align: center;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #9630af;
    font-weight: bold;
}

select { 
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../imagens/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.profissionalDescription {
    display: inline-block;
    text-align: start;
    color: white;
    max-width: 30%;
    margin: 0 0 0 30px; 
    vertical-align: top;
}

.profissionalDescription p, .profissionalDescription h3 {
    margin-top: 20px;
}

.profissionalDescription h3 {
    font-size: 24px;
}

@media only screen and (max-width: 630px) {
    .profissionalDescription {
        text-align: center;
        max-width: 70%;
    }

    .picture {
        width: 240px;
        float: none
    }

    .formContainer {
        max-width: 240px;
        padding: 25px;
        margin: 20px 5px;
        float: none
    }
        
}