*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rebeccapurple;
}

/*---- header ----*/



#logo {
    float: left;
    display: inline-block;
    color: white;
}

#menu {
    list-style: none;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    float: right;
}

.menuList {
    display: inline-block;
    color: white;
    margin-right: 15px;
    font-family: museo_sans_500, Arial,Helvetica,sans-serif;
    
    
}

a{
    text-decoration: none;
}

a:visited{
    color: white;
}

a:hover{
    color: white;
}

header{
    width: 100%;
    position: fixed;
    overflow: hidden;
    margin: 0;
    background: rebeccapurple;
    padding:15px;
    font-size: 18px;
    
}

.container{
    max-width: 100%;
    height: 100%;
    margin: auto;
}



/* ---------------Section-----------------*/

section{
    overflow: hidden;

}

.homeContainer{
    padding: 25px;
    padding-top: 80px;
    background-image: url(../imagens/homepic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

.boxContainer{
    max-width: 230px;
    height: 585px;
    background-color: #ffffffbb;
    padding: 30px;
    float: right;
}

.skinCareContainer{
    padding: 25px;
    background-image: url(../imagens/fundo-section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.skinCareFormContainer{
    max-width: 230px;
    height: 500px;
    background-color: #ffffffbb;
    padding: 30px;
    float: left;
}

.aboutContainer{
    padding: 25px;
    background-image: url(../imagens/aboutpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.aboutFormContainer{
    max-width: 230px;
    height: 500px;
    background-color: #ffffffbb;
    padding: 30px;
    float: right;
}*/

h2{
    font-size: 16;
}

.mbInContainer{
    margin-bottom: 15px;
}


/* ---------------- footer -----------------*/

footer{
    padding: 50px;
    overflow: hidden;
}

.formContainer{
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 30px;
    float: left;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}

select{ 
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url('../imagens/arrow.jpg');
    background-repeat: no-repeat;

    background-position: calc(100% - 10px) center;
}

.mensagemFooterContainer{
    padding: 45px;
    
}

.footerMensagem{
    color: white;
    float: right
}